{% extends "store/main.html" %}

{% block title %}Password Reset Complete - HotWheels Store{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card card-custom p-4">
            <h3 class="card-title text-center mb-4">Password Reset Successful</h3>
            <p class="text-center">Your password has been successfully reset. You can now <a href="{% url 'login' %}">log in</a> with your new password.</p>
        </div>
    </div>
</div>
{% endblock %}