{% extends "store/main.html" %}

{% block title %}Password Reset Sent - Your App{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card card-custom p-4">
            <h3 class="card-title text-center mb-4">Check Your Email</h3>
            <p class="text-center">We've sent you an email with instructions to reset your password. Please check your inbox.</p>
            <hr>
            <p class="text-center">Didn't receive the email? <a href="{% url 'password_reset' %}">Try again</a> or contact support.</p>
        </div>
    </div>
</div>
{% endblock %}